Contents that contain headings, paragraphs, lists, hypertext links and images.
ALL page contents markup with HTML elements. Evidence of HTML comments used.
Minimum 1 HTML table to display tabular data.
Minimum 1 HTML form with a button to submit the form.
Page layout and contents styled with CSS3.
Integrated with JavaScript interactions and behaviors.
Minimum 2 jQuery library components with Ajax feature in one of the components.
Use Bootstrap's classes and components throughout.
Featured a simple VUE component within the site.
Push project to GitHub.